@page "/"

@inject IndexViewModel model


<PageTitle>BlazeSort</PageTitle>
<div class="main-page-variants">
    
    <MudTextField @bind-Value="model.Spliter" Label="Enter the spliter" Variant="Variant.Outlined"></MudTextField>

    <div style="min-width: 70%"></div>
    <MudSelect T="SortAlgorithmType" @bind-Value="model.SortMethod" Label="Choose sort method" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
        <MudSelectItem T="SortAlgorithmType" Value=@(SortAlgorithmType.BubbleSort)/>
        <MudSelectItem T="SortAlgorithmType" Value=@(SortAlgorithmType.InsertionSort)/>
        <MudSelectItem T="SortAlgorithmType" Value=@(SortAlgorithmType.QuickSort)/>
    </MudSelect>
</div>

<MudTextField @bind-Value="model.NumbersToSort" Label="Numbers to sort" Variant="Variant.Outlined"></MudTextField>


<div class="sort-button">
    <MudButton Variant="Variant.Filled" OnClick="@model.Sort" Style="width: 180px; height: 60px;" Color="Color.Dark">Sort</MudButton >
</div>

<div class="sorted-numbers">
    <MudTextField @bind-Value="model.SortedNumbers" Label="Sorted numbers" ReadOnly="true" Variant="Variant.Outlined"/>
</div>
